<div>
<ul>
  <li><a class="active" routerLink="/">Home</a></li>
  <li><a routerLink="/createStaff">Create Staff</a></li>
  <li><a routerLink="/createOffice">Create Office</a></li>
  <li><a routerLink="/createUserStory">Create User Story</a></li>
  <li><a routerLink="/approveForm">Approve Form</a></li>
  <li><a routerLink="/viewUserStory">View User Story</a></li>
  <li><a routerLink="/viewProject">Project Management</a></li>
  
  
</ul>
</div>