input[type=email], input[type=date], input[type=tel], select, input[type=number], input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=email]:focus, select:focus, input[type=date]:focus, input[type=tel]:focus, input[type=number]:focus,input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
div{
width: 75%;
float: right;
margin-top: 15px; 
}