<form [formGroup]="formdata" style="border:1px solid #ccc">
  <div class="container">
    <h1>Create Subtask</h1>
    <hr>

    <label for="fieldOfSubtask"><b>Field of Subtask</b></label>
    <input type="text" placeholder="Enter Event's Name" formControlName="fieldOfSubtask" required>

    <label for="deadline"><b>Deadline</b></label>
    <input type="date"  formControlName="deadline" required>

    <label for="description"><b>Description</b></label>
    <input type="text" placeholder="Description" formControlName="description" required>

    <label for="relatedStaffs"><b>Assigned to</b></label>
    <select formControlName="relatedStaffs" form="office">

    </select>
    
    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

    <div class="clearfix">
      <a class="btn btn-primary" routerLink="/taskDetail">Cancel</a>
      <a class="btn btn-success requestBtn" (click)="createSubtask()">Request</a>
    </div>
  </div>
</form>
