<form [formGroup]="formdata" style="border:1px solid #ccc">
  <div class="container">
    <h1>Create new staff</h1>
    <hr>

    <label for="name"><b>Name</b></label>
    <input type="text" placeholder="Enter Your Name" formControlName="name" required>

    <label for="age"><b>Age</b></label>
    <input type="number" placeholder="Enter Your Age" formControlName="age" required>

    <label for="phoneNumber"><b>Phone Number</b></label>
    <input type="tel" placeholder="Enter Your Phone Number" formControlName="phoneNumber" required>

    <label for="dateOfBirth"><b>Date Of Birth</b></label>
    <input type="date" placeholder="Enter Your Birthday" formControlName="dateOfBirth" required>


    <label for="gender"><b>Gender</b></label>
    <select class="gender" formControlName="gender" form="gender">
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>

    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="Enter Your Email" formControlName="email" required>

    <label for="address"><b>Address</b></label>
    <input type="text" placeholder="Enter Your Address" formControlName="address" required>

    <label for="office"><b>Office</b></label>
    <select formControlName="workFor" form="office">
      <option value="analyst">Analyst Office</option>
      <option value="develop">Develop Office</option>
      <option value="director">Director Office</option>
    </select>

    <label for="position"><b>Position</b></label>
    <input type="text" placeholder="Enter Your Positiom" formControlName="position" required>
    
    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

    <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" class="createbtn" (click)="createStaff()">Create</button>
    </div>
  </div>
</form>
